.cars-form-ui {
    .el-input__inner  {
        background-color: #202429 !important;
        border: 1px solid #202429 !important;
        color: #fff !important;
        &::-webkit-input-placeholder { color: rgba(255, 255, 255, .2); }
        &::-moz-placeholder { color: rgba(255, 255, 255, .2); }
        &:-ms-input-placeholder { color: rgba(255, 255, 255, .2); }
        &:-moz-placeholder { color: rgba(255, 255, 255, .2); }
    }
    .el-form-item { margin-bottom: 20px !important;}
    .button-vcode {
        position: absolute;
        top: 4px;
        right: 4px;
        width: 100px;
        height: 32px;
        text-align: center;
        color: #fff;
        background-color: #34393f;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        z-index: 2;
        outline: none;
        border: none;
        font-size: 12px;
    }
}
.button-black {
    display: block;
    width: 100%;
}