@import './normalize.scss';
@import './sassConfig.scss';
i[class^=icon] {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 44px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    background-color: $color-main;
    margin: 0 17px;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    @extend %clearfix;
}
.fs-24 {
    font-size: 24px;
}
.p-r {
    position: relative;
}
.p-a {
    position: absolute;
}
.color-main {
    color: $color-main;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.select-car-btn {
    display: inline-block;
    width: 240px;
    height: 84px;
    line-height: 84px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
    background-color: $color-main;
    @include webkit(border-radius, 100px);
    margin: 0 17px;
}